<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tamara's Cookies</title>
</head>

<body class="home-page">
  
<section>
    <h2>About Us</h2>
        <p>Welcome to Tamara's Cookies! Ostavete nekoj komentar:
        </p>

    <form action="#" method="post">
      <label for="name">Your Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Your Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="impression">Overall Impression:</label>
      <select id="impression" name="impression" required>
        <option value="excellent">Excellent</option>
        <option value="good">Good</option>
        <option value="average">Average</option>
        <option value="below-average">Below Average</option>
        <option value="poor">Poor</option>
      </select>

      <label for="feedback">Additional Comments:</label>
      <textarea id="feedback" name="feedback" rows="4"></textarea>

      <button type="submit">Submit</button>
    </form>
  </section>

</body>

</html>