<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tamara's Cookies</title>
</head>
<body class="home-page">

  <section id="login" class="hero">
    <div class="wrapper">
      <div class="form-box login">
        <h2>Login</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon"></span>
            <input type="email" id="emailInput" required>
            <label for="emailInput">Email</label>
          </div>
          <div class="input-box">
            <span class="icon"></span>
            <input type="password" id="passwordInput" required>
            <label for="passwordInput">Password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">Remember me</label>
          </div>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </section>

  <section id="categories">
    <h2>Categories</h2>
    <div class="categories">
      <div class="category">
        <h3>Chocolate Cookies</h3>
        <a href="product.html">
          <img src="../../assets/sliki/category2.png" alt="Chocolate Cookies">
          <p>The best cookies for chocolate lovers.</p>
        </a>
      </div>

      <div class="category">
        <h3>OG Cookies</h3>
        <a href="product.html">
          <img src="../../assets/sliki/category1.png" alt="OG Cookies">
          <p>If you want the original taste.</p>
        </a>
      </div>

      <div class="category">
        <h3>Frutie Cookie</h3>
        <a href="product.html">
          <img src="../../assets/sliki/category3.png" alt="Frutie Cookie">
          <p>So refreshing!</p>
        </a>
      </div>
    </div>
  </section>

  <script src="script.js"></script>
</body>
</html>